*** Object Oriented Programing ***
    * The phenominon of working with real world entities or real time objects will lead us to work with the concept called object oriented programming language.
    * It is used for solving the real-time entity problems.
    * It is used for storing and manupulating the real time entity data.
    * As we are working with real word entities, the built in datatypes are not sufficient enough to store the details of real world entities and because real world entities will have various types, various properties, various structure, various functionality are present. These all  are not suitable to store or retrive the data using built-in datatypes.
    * So we are going to use the user defined datatypes called class and object.
    * Through class and object, we are creating out own status(properties) and behaviour (functionalities) related to real world emtities.
Why oops ?
    * Organize code and classify the data and function providing a clear structure.
    * Easy maintainence and modification.
    * Reduce code: reduce code difficulty, by enabling code reusability.
    * Inheritence which helps us to inherit data from one class to another class.
    * Encapsulation, where secure data by implemeting private variables.
Class :
    * It is a structure that specifies what to store and what to do.
    * Class is a blueprint of an object : class is a plan to create an object.
    * Class is a user defined datatype that specifies the status and behaviour of the real world entities.
    * Status are nothing but properties about real world entities.
    * Behaviour is nothing but the functionality operations of a real world entity.
    * Behaviour is nothing but a feature that is provided for the entity.
    * A class can be created by using the keyword called 'class'.
    * By using the class, we are preparing the templates regarding the object.
    Syntax :
        class <classname>:
            //Class properties and functions

In [5]:
class collage:
    name = 'Santhana collage'
    address = 'Theledhu'
    website = 'Santhana.thelidhu1@gmail.com'
    phone = 20029389301283
    print(name,address,website,phone) #Accessing members inside the class
print(collage.name,collage.address,collage.website,collage.phone) # Accessing members outside the class
print(collage.__dict__)
obj = collage() #Creating object for class 
print(obj.name,obj.address,obj.phone,obj.website) # Accessing values using object.
print(obj.__dict__)

Santhana collage Theledhu Santhana.thelidhu1@gmail.com 20029389301283
Santhana collage Theledhu Santhana.thelidhu1@gmail.com 20029389301283
{'__module__': '__main__', 'name': 'Santhana collage', 'address': 'Theledhu', 'website': 'Santhana.thelidhu1@gmail.com', 'phone': 20029389301283, '__dict__': <attribute '__dict__' of 'collage' objects>, '__weakref__': <attribute '__weakref__' of 'collage' objects>, '__doc__': None}
Santhana collage Theledhu 20029389301283 Santhana.thelidhu1@gmail.com
{}

In [6]:
#create a class customer with fields cust_id, cust_Name and cust_Address
#Display customer details using class address (outside the classs)
#Display the customer details using object 
class customer:
    cust_id = 577
    cust_Name = 'Naveen Kumar'
    cust_Address = 'Tadipatri'
print(customer.cust_id,customer.cust_Name,customer.cust_Address)
obj = customer()
print(obj.cust_id,obj.cust_Name,obj.cust_Address)

577 Naveen Kumar Tadipatri
577 Naveen Kumar Tadipatri

In [8]:
class Bank:
    code = '005'
    name = 'Back Name'
    Address = 'Address'
    manager = 'Thesluko'
    staff = 100
    customers = 200
    total_amount = '1cr'
    print(code,name,Address,manager,staff,customers,total_amount)
obj = Bank()
print(obj.code,obj.name,obj.Address,obj.manager,obj.staff,obj.customers,obj.total_amount)

005 Back Name Address Thesluko 100 200 1cr
005 Back Name Address Thesluko 100 200 1cr

*** Object ****

* An object is a variable of type class. Object is an instance of a class. 
* Class will specify what to store and what to do, whereas the object will store what is specified by the class and does what it said object in real world entity.
    Syntax:
    Object name = class name (arguments)
* Arguments are nothing but the data that we wanted to store it inside the object memory (sometimes arguments are not mandatory).
* When we create an object after execution of the program, as soon as the control reaches the object creation statement then it creates the dictionary memory in the value-space. The address of the dictionary will be assigned to the object name inside the variable space.
* After that, from the class all the class members will be derived to the object dictionary.
* After derivation, the control will check whether there special_init_method is existing or not. If it exist then it automatically calls for that constructor method.
* All the object members from the constructor will be stored in the object dictionary.

In [1]:
class sample:
    x=10
    y=20
obj=sample()
obj.m=100
obj.n=200

In [3]:
print(sample)
print(sample.__dict__)
print(sample.x,sample.y)
sample.x='Naveen'
sample.y='Ram'
print(sample.x,sample.y)
print(obj)
print(obj.__dict__)
print(obj.x,obj.y,obj.m,obj.n)

<class '__main__.sample'>
{'__module__': '__main__', 'x': 'Naveen', 'y': 'Ram', '__dict__': <attribute '__dict__' of 'sample' objects>, '__weakref__': <attribute '__weakref__' of 'sample' objects>, '__doc__': None}
Naveen Ram
Naveen Ram
<__main__.sample object at 0x000002061F2EBC90>
{'m': 100, 'n': 200}
Naveen Ram 100 200

*** Genric states or class state functionalities ***
1. Initialization :
    <class address>.<variable_name> = <new value>
2. Fetch :
    <class address>.<variable_name>
3. Re-initialization :
    <class address>.<variable_name> = <new value>
4. Deletion :
    del <class address>.<variable_name>

In [5]:
class demo:
    x=10
#Initialization
demo.y='Naveen'
#Reinitialization
demo.y='Rama Krishna'
#Fetch 
print(demo.x,demo.y)
#Delete
del demo.y
print(demo.x)

10 Rama Krishna
10

In [6]:
class demo:
    x=10
    #Initialization
    y='Naveen'
    #Reinitialization
    y='Rama Krishna'
    #Fetch 
    print(x,y)
    #Delete
    del y
    print(demo.x)

10 Rama Krishna
10

In [4]:
class school:
    name='Vasavi'
    strength = 1000
    faculty = 100
    departments = 8
    address = 'Tadipatri'
    rating = 4.0
obj=school()
print(school)
del school
# print(school)
print(obj.name)

<class '__main__.school'>
Vasavi

In [6]:
class School:
    s_name = 'Vasavi'
    s_address = 'Tadipatri'
    def __init__(self,name,marks,rollno): 
        self.name = name
        self.marks = marks
        self.rollno = rollno
        print('Percentage : ',(self.marks/300)*100)
    
student_1 = School('Naveen',256,'18701A0577')
student_2 = School('Rama Krishna',278,'18701A0578')
student_3 = School('Nitheesh',289,'18701A0576')

Percentage :  85.33333333333334
Percentage :  92.66666666666666
Percentage :  96.33333333333334

In [7]:
n=123454321
def polindrome(n,r):
    if n==0:
        return r
    return polindrome(n//10,r*10+n%10)

if n==polindrome(n,0):
    print('Polindrome')

Polindrome

In [4]:
s='i love india i love my country'
t=''
d={}
for i in range(len(s)):
    if s[i]==' ' or i==len(s)-1:
        if i==len(s)-1:
            t+=s[i]
        if t not in d:
            d[t]=1
        else:
            d[t]+=1
        t=''
    else:
        t+=s[i]
print(d)

{'i': 2, 'love': 2, 'india': 1, 'my': 1, 'country': 1}

In [3]:
s='naveeneenave'
i=3
l=[]
def palindrome(x):
    return 1 if x[::-1]==x else 0

while(i<len(s)):
    j=0
    while(j+i<len(s)):
        if(palindrome(s[j:j+i])):
            l+=[s[j:j+i]]
        j+=1
    i+=1
print(l)

['ene', 'neen', 'eenee']

In [1]:
class Student:
    ins='IITM'
    def __init__(self,a,b,c,d):
        self.br=a
        self.de=b
        self.yr=c
        self.rno=d
    def generate(self):
        res=br.split(' ')
        res1=res[0][0]+res[1][0]
        res2=de[:2].lower()
        res3=yr[2:]
        res=res1+'_'+res2+'_'+res3+'_'+rno+'@student.onlinedegree.'+self.ins+'.ac.in'
        self.mail_id = res
        return self.mail_id
br='Computer Science'
de='BTech'
yr='2021'
rno='7412'
obj=Student(br,de,yr,rno)
print(obj.generate())

CS_bt_21_7412@student.onlinedegree.IITM.ac.in

In [4]:
class Student:
    ins='IITM'
    def __init__(self,a,b,c,d):
        self.br=a
        self.de=b
        self.yr=c
        self.rno=d
        res=br.split(' ')
        res1=res[0][0]+res[1][0]
        res2=de[:2].lower()
        res3=yr[2:]
        res=res1+'_'+res2+'_'+res3+'_'+rno+'@student.onlinedegree.'+self.ins+'.ac.in'
        self.mail_id = res
        self.mail_id
br='Computer Science'
de='BTech'
yr='2021'
rno='7412'
obj=Student(br,de,yr,rno)
print(obj.mail)

CS_bt_21_7412@student.onlinedegree.IITM.ac.in

In [43]:
class Book:
    sno='Book00'
    all={}
    def __init__(self,a,b,c):
        self.title=a
        self.auther=b
        self.price=c
        Book.sno=Book.sno[:-1]+str(int(Book.sno[-2:])+1)
        self.no=Book.sno
        Book.all[self.sno]=self
    def view(self):
        if self.no=='Book01':
            print('Sno'.center(20),'Title'.center(20),'Auther'.center(20),'Price'.center(20))
            print(('-'*len('sno')).center(20),('-'*len('title')).center(20),('-'*len('auther')).center(20),('-'*len('price')).center(20))
        print(str(self.no).center(20),str(self.title).center(20),str(self.auther).center(20),str(self.price).center(20))
        # print(f"Title : {self.title}\nAuther : {self.auther}\nPrice : {self.price}\n")
    
    def display():
        for i in Book.all:
            Book.all[i].view()

obj = Book('The book','Naveen',999)
obj.view()
obj1 = Book('RamaKrishna','Naveen',100008.9)
obj1.view()  
Book.display()

        Sno                 Title                Auther               Price
        ---                 -----                ------               -----
       Book01              The book              Naveen                999
       Book02            RamaKrishna             Naveen              100008.9
        Sno                 Title                Auther               Price
        ---                 -----                ------               -----
       Book01              The book              Naveen                999
       Book02            RamaKrishna             Naveen              100008.9

In [2]:
class Bank:
    bank_name='SBI'
    IFSC='SBIN0000041'
    address='TDP'
    ROI=5.6
    cust_no=0
    cust_details={}
    def __init__(self,name,phone,email,address,bal=500):
        self.c_name=name
        self.c_phone=phone
        self.c_email=email
        self.c_address=address
        self.c_bal=bal
        Bank.cust_no+=1
        self.c_acc='101578'+str(self.cust_no)
        Bank.cust_details[self.c_acc]=self
    
    def deposit(self):
        self.c_bal+=int(input('Enter deposit amount : '))
        print('Deposited successfully')

    def withdraw(self):
        amount=int(input('Enter Withdraw amount : '))
        if self.c_bal-amount>=500:
            self.c_bal-=amount
            print("Amount Debited : ",amount)
            print('Total balance : ',self.c_bal)
        else:
            print('Insufficient balance')
    
    def modify_details(self):
        n=int(input('Enter option : \n1.Name\n2.Phone\n3.Email\n4.Address'))
        match n:
            case 1:
                self.c_name=input('Enter new name : ')
                print("Name succesfully updated")
            case 2:
                self.c_phone=int(input('Enter new Phone number : '))
                print("Mobile number updated succesfully")
            case 3:
                self.email=input('Enter new E-mail : ')
                print("E-mail updated succesfully")
            case 4:
                self.c_address=input('Enter new Address : ')
                print('Address updated succesfully')
            case _:
                print('Invalid input')
                
    @classmethod
    def CRUD_operations(cls):
        n=int(input('Enter Option : \n1.Add account\n2.Withdraw\n3.Deposit\n4.Modify'))
        match n:
            case 1: 
                Bank('Naveen',7997210130,'naveen.jinka1@gmail.com','Tadipatri')
                Bank('RamaKrishna',89284978282,'ram.krishna1@gmail.com','Peta') 
            case 2:
                n=input('Enter account number to withdraw : ')
                cls.cust_details[n].withdraw()
            case 3:
                n=input('Enter account number to deposit : ')
                cls.cust_details[n].deposit()
            case 4:
                n=input('Enter account number to modify : ')
                cls.cust_details[n].modify_details()
            case _:
                print('Invalid option')

In [10]:
Bank.CRUD_operations()

Invalid option

In [4]:
Bank.cust_details

{'1015781': <__main__.Bank at 0x2638e985c10>}

In [16]:
for i in Bank.cust_details:
    print(i) 
# obj.CRUD_operations()

1015781
1015782
1015783
1015784
1015785
1015786
1015787
1015788
1015789

In [16]:
import sqlite3
db = sqlite3.connect('Company.db')
cus = db.cursor()
cus.execute('drop table company')
cus.execute('create table company (id varchar(20) primary key , name varchar(20), email varchar(20), phone big int, address varchar(30),gender varchar(10),doj date,cemail varchar(20) )')
db.commit()
db.close()

In [31]:
class Company:
    com_name = 'tcs'
    com_address = 'Hyd'
    website = 'www.tcs.co.in'
    emp_count = 0
    def __init__(self,name,email,phone,address,gender,doj):
        self.name = name
        self.email = email
        self.phone = phone
        self.address = address
        self.gender = gender
        self.doj = doj
        self.com_email = self.name + str(self.phone)[-4:]+'@'+self.com_name+'com'
        db = sqlite3.connect('Company.db')
        cus = db.cursor()
        Company.emp_count+=1
        self.id='tcs00'+str(self.emp_count)
        n = input('Enter 1 to commit : ')
        if n=='1':
            cus.execute('insert into company values(?,?,?,?,?,?,?,?)',[self.id,self.name,self.email,self.phone,self.address,self.gender,self.doj,self.com_email])
            db.commit()
            db.close()
            print('Data entered')
        else:
            print('Data not commited')

    @staticmethod
    def display():
        db = sqlite3.connect('Company.db')
        cus = db.cursor()
        res = cus.execute('select * from company')
        for i in res:
            print('Id : ',i[0],'\nName : ',i[1],'\nE-Mail : ',i[2],'\nPhone : ',i[3],'\nAddress : ',i[4],'\nGender : ',i[5],'\nDate of joining : ',i[6],'\nCompany E-Mail : ',i[7])
            print('*'*40)
        db.commit()
        db.close()

In [26]:
emp1 = Company('Naveen','naveen.jinka1@gmail.com',7997210130,'Hyd','Male','07-06-2023')
emp2 = Company('Ram','ram.thelidhu2@gmail.com',7997210230,'Hyd','Male','07-06-2023')

Data not commited
Data not commited

In [32]:
Company.display()

<class 'sqlite3.Cursor'>
Id :  tcs001
Name :  Naveen
E-Mail :  naveen.jinka1@gmail.com
Phone :  7997210130
Address :  Hyd
Gender :  Male
Date of joining :  07-06-2023
Company E-Mail :  Naveen0130@tcscom
****************************************
Id :  tcs002
Name :  Ram
E-Mail :  ram.thelidhu2@gmail.com
Phone :  7997210230
Address :  Hyd
Gender :  Male
Date of joining :  07-06-2023
Company E-Mail :  Ram0230@tcscom
****************************************

In [27]:
Company.__dict__

mappingproxy({'__module__': '__main__',
              'com_name': 'tcs',
              'com_address': 'Hyd',
              'website': 'www.tcs.co.in',
              'emp_count': 5,
              '__init__': <function __main__.Company.__init__(self, name, email, phone, address, gender, doj)>,
              'display': <staticmethod(<function Company.display at 0x000001AECCFE4400>)>,
              '__dict__': <attribute '__dict__' of 'Company' objects>,
              '__weakref__': <attribute '__weakref__' of 'Company' objects>,
              '__doc__': None})

In [30]:
emp1.__dict__

{'name': 'Naveen',
 'email': 'naveen.jinka1@gmail.com',
 'phone': 7997210130,
 'address': 'Hyd',
 'gender': 'Male',
 'doj': '07-06-2023',
 'com_email': 'Naveen0130@tcscom',
 'id': 'tcs004'}

In [29]:
emp2.__dict__

{'name': 'Ram',
 'email': 'ram.thelidhu2@gmail.com',
 'phone': 7997210230,
 'address': 'Hyd',
 'gender': 'Male',
 'doj': '07-06-2023',
 'com_email': 'Ram0230@tcscom',
 'id': 'tcs005'}

*** Generic/Class/Static ***
* Method-1
class Sample:
    var1=val
    //set of attributes or states

* Method-2
class Sample:
    pass
Sample.var1=val

* Method-3
class Sample:
    @classmethod
    def create(cls):
        cls.var1=val
Sample.create()


*** Specific/Object/Non-Static ***
* Method-1
class Sample:
    pass
obj=Sample()
def create_obj(self):
    self.var1=val
create_obj(obj)

* Method-2
class Sample:
    def __init__(self,args):
        self.var1=args
obj=Sample(val)

* Method-3
class Sample:
    def create(self,args):
        self.var1=args
obj=Sample()
obj.create(val)
or 
Sample.create(obj,var)

*** List comprehensive ***
-> In python, list comprehension is a simple and compact syntax for making a list out of a list.
-> Its a quuick technique to make a new list by performing an operation on each item in the old one.
-> List comprehennsion is much faster than using for loop to handle a list.
-> A list comprehension is made up of brackets that hold the expression that is run for each element, as well as for loop that iterates through each element.

Syntax :-
    <var> = [<value> for <v> in <collection>]
    <var> = [<value> for <v> in <collection> if <condition>]
    <var> = [<value> if <condition> else <value1> for <v> in <collection>]
    <var> = [<value> for <v> in <collection> for <v> in <collection>]
    <var> = [<value> for <v> in <collection> for <v> in <collection> if <condition>]
    <var> = [<value> if <condition> else <val1> for <v> in <collection> for <v> in <collection>]

*** Tuple comprehensive ***
-> Only tuple gereates generater object.

*** Dictionary comprehensive ***
Syntax :- 
    <var> = {<key>:<value> for <v> in <collection>}
    <var> = {<key>:<value> for <v> in <collection> if <condition>}
    <var> = {<key>:<value> if <condition> else <value1> for <v> in <collection>}
    <var> = {<key>:<value> for <v> in <collection> for <v> in <collection>}
    <var> = {<key>:<value> for <v> in <collection> for <v> in <collection> if <condition>}
    <var> = {<key>:<value> if <condition> else <val1> for <v> in <collection> for <v> in <collection>}

In [8]:
# List Comprehension
s='NaVEeN'
l=[[i,chr(ord(i)+32)]['A'<=i<='Z'] for i in s]
print(l)
print(l)

['n', 'a', 'v', 'e', 'e', 'n']
['n', 'a', 'v', 'e', 'e', 'n']

In [9]:
# Tuple Comprehension
s='NaVeEN'
l=(chr(ord(i)+32) if 'A'<=i<='Z' else i for i in s)
print(list(l))
print(list(l))

['n', 'a', 'v', 'e', 'e', 'n']
[]

In [3]:
# Set comprehension
s='NaVEeN'
l={[i,chr(ord(i)+32)]['A'<=i<='Z'] for i in s}
print(l)
print(l)

{'n', 'a', 'e', 'v'}
{'n', 'a', 'e', 'v'}

In [10]:
# Dictionary Comprehension
s = 'NaVeEN'
l = {i:chr(ord(i)+32) if 'A'<=i<='Z' else i for i in s}
print(l)

{'N': 'n', 'a': 'a', 'V': 'v', 'e': 'e', 'E': 'e'}

In [14]:
# WAP to extract only special charecters and asci numbers from the given string.
s='A@j^4(j)'
l = ''.join([i for i in s if not('A'<=i<='Z' or 'a'<=i<='z')])
print(l)

@^4()

In [15]:
# WAP to extract special charecters with alphabets and eleminate the duplicate charecters.
s='A@%^@%@$E%@18713hbjhasdf'
l=''.join({i for i in s if not('0'<=i<='9')})
print(l)

%AasdjhbE^@f$

In [17]:
# Extract only integers using list comprehension.
l=[['a','b','c'],[1,2.5,3+5j],[[10,5],5,6]]
x=[j for i in l for j in i if type(j) is int]
print(x)

[1, 5, 6]

In [36]:
# WAP to extract even values if even values to perform square of the given value and to extract odd values to perform factorial of given value.
from math import prod
l=[1,2,3,4,5,6,7,8,9,10]
x=[i**2 if i%2==0 else prod([k for k in range(1,i+1)]) for i in l]
print(x)

[1, 4, 6, 16, 120, 36, 5040, 64, 362880, 100]

In [2]:
# WAP to extract all prime numbers from a given range
def isPrime(n):
    for i in range(2,n):
        if n%i==0:
            return 0
    return 1
x=[i for i in range(20) if isPrime(i)]
print(x)

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19]

*** SQL Connection ***
1. Import :
    Import sqlite3
2. Establish the connection :
    <connection> = sqlite3.connect(<Database>)
3. Create cursor :
    <cursor> = <connection>.cursor()
4. Execute querry :
    <cursor>.execute(<sql querry>)
5. Commit :
    <connection>.commit()
6. Close connection :
    <connection>.close()

In [7]:
import sqlite3

db=sqlite3.connect("test_data")
# print(db)
cus=db.cursor()

def create_table(cus,querry):
    print(cus.rowcount,'Rows are present')
    cus.execute(querry)
    print(cus.rowcount,'Rows are after')
    db.commit()

q="create table employee(id int primary key, name varchar(20))"
# create_table(cus,q) 
# db.close()

In [9]:
def insert_row(cus,*val):
    print('Rows present : ',cus.rowcount)
    cus.execute("insert into employee (id,name) values (?,?)",val)
    print('Rows after : ',cus.rowcount)
    db.commit()

insert_row(cus,4,'Ram')

Rows present :  -1
Rows after :  1

In [11]:
def featch_all(cus,table):
    print('Rows count : ',cus.rowcount)
    cus.execute(f"select * from {table}")
    print('Rows count : ',cus.rowcount)
    res=cus.fetchall()
    print(res)
    db.commit()

featch_all(cus,'employee')

Rows count :  -1
Rows count :  -1
[(1, 'ram'), (2, 'ram'), (3, 'Ram'), (4, 'Ram')]

In [16]:
# SQL connection Curd operations using decorators
import sqlite3
def dbconnect(fun):
    def inner():
        con = sqlite3.connect('Student.db')
        cur = con.cursor()
        fun(cur)
        print(cur.rowcount,' Record effected')
        con.commit()
        con.close()
    return inner

@dbconnect
def create(cur):
    cur.execute('create table Student (ID varchar(20),Name varchar(20))')

# create()

@dbconnect
def insert(cur):
    cur.execute('insert into Student values(?,?)',(input('Enter ID :'),input('Enter Name :')))

# insert()

@dbconnect
def update(cur):
    cur.execute('update Student set name=? where id=?',(input('Enter Name to update :'),input('Enter id :')))

# update()

@dbconnect
def select(cur):
    res = cur.execute('select * from Student')
    for i in res:
        print(i)

select()

('1', 'Ram')
('2', 'Krishna')
('3', 'Tharun')
-1  Record effected

In [8]:
import sqlite3


def dbconnect(fun):
    def inner(*args):
        con = sqlite3.connect('Bank.db')
        cur = con.cursor()
        fun(*args,cur)
        print(cur.rowcount,' Record effected')
        con.commit()
        con.close()
    return inner

@dbconnect
def create(cur):
    cur.execute('drop table trans')
    cur.execute('create table trans(tid int primary key,acno varchar(20),name varchar(20),status varchar(10),amount int,balance int)')

# create()

-1  Record effected

In [3]:
import sqlite3

def dbconnect(fun):
    def inner(*args):
        con = sqlite3.connect('Bank.db')
        cur = con.cursor()
        fun(*args,cur)
        print(cur.rowcount,' Record effected')
        con.commit()
        con.close()
    return inner


@dbconnect
def trans_add(val,cur):
    print(type(val),val)
    cur.execute('insert into trans values(?,?,?,?,?,?)',val)

@dbconnect
def trans_show(n,cur):
    if n==1:
        res = cur.execute('select * from trans')
    else:
        res = cur.execute('select * from trans where acno=?',(input('Enter Account number : '),))
    for i in res:
        print(i)

@dbconnect
def create(cur):
    cur.execute('create table Bankacc(acno varchar(20) primary key,Name varchar(20),Email varchar(20),password varchar(15),phone number,balance int)')

# create()

@dbconnect
def select(ch,cur):
    if ch==1:
        res = cur.execute('select * from Bankacc')
    else:
        res = cur.execute('select * from Bankacc where acno=?',(input('Enter Account number : '),))
    for i in res:
        print(i)

# select()

@dbconnect
def deposit(val,cur):
    cur.execute('update Bankacc set balance=(select balance from Bankacc)+? where acno=?',val)

@dbconnect
def insert(val,cur):
    cur.execute('insert into Bankacc values(?,?,?,?,?,?)',val)

# insert()


class BankAccount:
    bank_name = 'SBI'
    bank_ifsc_code = 'sbi1233456'
    t_id = 0
    customers =0
    def __init__(self,name,email,password,phone,balance=1500):
        self.name = name
        BankAccount.customers+=1
        self.acno = 'sbi0000'+str(BankAccount.customers)
        self.email = email
        self.password = password
        self.phone = phone
        self.balance = balance
        insert((self.acno,self.name,self.email,self.password,self.phone,self.balance))

    @dbconnect
    @staticmethod
    def deposit(cur):
        acno = input('Enter Acccount number : ')
        amount = int(input('Enter Amount to deposit : '))
        ids = cur.execute('select tid from trans').fetchall()
        res = cur.execute('select acno,Name,balance from Bankacc where acno=?',(acno,)).fetchone()
        deposit((amount,acno))
        val = (ids[-1][0]+1,res[0],res[1],'Deposite',amount,res[2]+amount)
        cur.execute('insert into trans values(?,?,?,?,?,?)',val)
    
    @staticmethod
    @dbconnect
    def withdraw(cur):
        acno = input('Enter Acccount number : ')
        amount = int(input('Enter amount to withdraw : '))
        res = cur.execute('select balance from Bankacc where acno=?',(acno,)).fetchone()
        if res[0]-amount>1500:
            cur.execute('update Bankacc set balance=? where acno=?',(res[0]-amount,acno))
            BankAccount.t_id+=1
            ids = cur.execute('select tid from trans').fetchall()
            res1 = cur.execute('select acno,Name,balance from Bankacc where acno=?',(acno,)).fetchone()
            val = (ids[-1][0]+1,res1[0],res1[1],'Withdraw',amount,res[0]-amount)
            cur.execute('insert into trans values(?,?,?,?,?,?)',val)
        else:
            print('Insufficient balance')

    def update_mob_mail(cur):
        acno = input('Enter Account number : ')
        new = eval(input('Enter Mobile number or Mail-id'))
        if type(new) is int:
            cur.execute('update Bankacc set phone=? where acno=?',(new,acno))
        else:
            cur.execute('update Bankacc set Email=? where acno=?',(new,acno))
    
    @classmethod
    def display(cls):
        n = int(input('Enter 1 to display all'))
        select(n)

# BankAccount('RamaKrishna','ramkrishna@gmail.com','NaveenRam',7997210130,100000)
# BankAccount('Krishna','krishna@gmail.com','NaveenRam',7997210230,200000)
# BankAccount('Rama','ram@gmail.com','NaRam',7887210130,330000)
# BankAccount('Naveen','Naveen@gmail.com','NaveenRam',7997228730,900000)

In [9]:
BankAccount.display()

('sbi00000', 'RamaKrishna', 'ramkrishna@gmail.com', 'NaveenRam', 7997210130, 100001)
('sbi00001', 'Krishna', 'krishna@gmail.com', 'NaveenRam', 7997210230, 100005)
('sbi00002', 'Rama', 'ram@gmail.com', 'NaRam', 7887210130, 100118)
('sbi00003', 'Naveen', 'Naveen@gmail.com', 'NaveenRam', 7997228730, 100900)
-1  Record effected

In [3]:
BankAccount.deposit()

1  Record effected
<class 'tuple'> (5, 'sbi00000', 'RamaKrishna', 'Deposite', 1, 100001)
1  Record effected
-1  Record effected

In [5]:
BankAccount.withdraw()

1  Record effected

In [8]:
trans_show(1)

(1, 'sbi00002', 'Rama', 'Deposite', 5000, 105000)
(2, 'sbi00001', 'Krishna', 'Deposite', 1000, 101000)
(3, 'sbi00002', 'Rama', 'Deposite', 120, 100320)
(4, 'sbi00001', 'Krishna', 'Deposite', 5, 101005)
(5, 'sbi00000', 'RamaKrishna', 'Deposite', 1, 100001)
(6, 'sbi00002', 'Rama', 'Withdraw', 2, 100118)
-1  Record effected

In [1]:
class Singer:
    all = {}

    def __init__(self,name,address,dob,noa):
        self.id = 'Singer@'+str(len(Singer.all)+1)
        self.name = name
        self.address = address
        self.dob = dob
        self.noa = noa
        Singer.all[self.id] = self
    
    @classmethod
    def display(cls):
        n = input('Enter 1 to display all singers details : ')
        if n=='1':
            print('ID'.center(20),'Name'.center(20),'Address'.center(20),'Date of Birth'.center(20),'Number of albums'.center(20))
            print('*'*108)
            for i in cls.all.values():
                print(str(i.id).center(20),i.name.center(20),i.address.center(20),i.dob.center(20),str(i.noa).center(20))
        else:
            ser = input('Enter Singer id to display : ')
            print('ID'.center(20),'Name'.center(20),'Address'.center(20),'Date of Birth'.center(20),'Number of albums'.center(20))
            print('*'*108)
            for i in cls.all.values():
                if i.id == ser:
                    print(str(i.id).center(20),i.name.center(20),i.address.center(20),i.dob.center(20),str(i.noa).center(20))
                    break
            else:
                print('No such singer with that id exist')
    
    @classmethod
    def count_albums(cls):
        count = 0
        for i in cls.all.values():
            count+=i.noa
        print('Total number of albums in all singers :',count)
    
    @classmethod
    def modify_albums(cls):
        ser = input('Enter singer Id to modify')
        for i in cls.all.values():
            if i.id == ser:
                i.noa = int(input('Enter Singer albums to modify : '))
                break
        else:
            print('No such singer with that id exist')

    @classmethod
    def delete_singer(cls):
        ser = input('Enter singer id to delete :')
        for i in cls.all.values():
            if i.id == ser:
                del cls.all[i.id]
                break
        else:
            print('No such singer with that id exist')

    @classmethod
    def Operations(cls):
        n = input('Enter Options : 1.Create\t2.Count albums\t3.Display\t4.Modify\t.Delete')
        match n:
            case '1':
                Singer('Naveen','Hyd','20-9-2018',8)
                Singer('Krishna','Syc','23-9-2028',12)
                Singer('Swetha','Hyd','20-9-2012',2)
                Singer('Tharun','Kdp','20-9-2008',4)
                Singer('Susmitha','Tdp','20-9-1998',18)
            case '2':
                cls.count_albums()
            case '3':
                cls.display()
            case '4':
                cls.modify_albums()
            case '5':
                cls.delete_singer()
            case _:
                print('Enter valid Operation')

In [5]:
Singer.Operations()

         ID                  Name               Address           Date of Birth       Number of albums
************************************************************************************************************
      Singer@1              Naveen                Hyd               20-9-2018                8
      Singer@2             Krishna                Syc               23-9-2028                12
      Singer@3              Swetha                Hyd               20-9-2012                2
      Singer@4              Tharun                Kdp               20-9-2008                4
      Singer@5             Susmitha               Tdp               20-9-1998                18
      Singer@6              Naveen                Hyd               20-9-2018                8
      Singer@7             Krishna                Syc               23-9-2028                12
      Singer@8              Swetha                Hyd               20-9-2012                2
      Singer@9              Tharun                Kdp               20-9-2008                4
     Singer@10             Susmitha               Tdp               20-9-1998                18
     Singer@11              Naveen                Hyd               20-9-2018                8
     Singer@12             Krishna                Syc               23-9-2028                12
     Singer@13              Swetha                Hyd               20-9-2012                2
     Singer@14              Tharun                Kdp               20-9-2008                4
     Singer@15             Susmitha               Tdp               20-9-1998                18

In [6]:
Singer.modify_albums()

In [12]:
Singer.Operations()

         ID                  Name               Address           Date of Birth       Number of albums
************************************************************************************************************
      Singer@1              Naveen                Hyd               20-9-2018                16
      Singer@2             Krishna                Syc               23-9-2028                12
      Singer@3              Swetha                Hyd               20-9-2012                2
      Singer@4              Tharun                Kdp               20-9-2008                4
      Singer@5             Susmitha               Tdp               20-9-1998                18
      Singer@6              Naveen                Hyd               20-9-2018                8
      Singer@7             Krishna                Syc               23-9-2028                12
      Singer@8              Swetha                Hyd               20-9-2012                2
      Singer@9              Tharun                Kdp               20-9-2008                4
     Singer@10             Susmitha               Tdp               20-9-1998                18
     Singer@11              Naveen                Hyd               20-9-2018                8
     Singer@12             Krishna                Syc               23-9-2028                12
     Singer@13              Swetha                Hyd               20-9-2012                2
     Singer@14              Tharun                Kdp               20-9-2008                4

In [20]:
Singer.delete_singer()

No such singer with that id exist

In [13]:
fp = open('test.txt','r')
res=fp.read()
c,w,l=0,0,0
for i in res:
    if i in ' ':
        w+=1
    elif i in '\n':
        w+=1
        l+=1
    else:
        c+=1
print('Charecters :',c,'Words :',w,'Lines :',l)

Hi i am naveen
I am learing
Finish it
Then end it
Charecters : 38 Words : 11 Lines : 3

In [14]:
import sqlite3
def dbconnect(fun):
    def innner(*args):
        con = sqlite3.connect('Singer.db')
        cur = con.cursor()
        res = fun(*args,cur)
        con.commit()
        con.close()
        return res 
    return innner

@dbconnect
def singer_count(cur):
    res = cur.execute('select id from Singer').fetchall()
    max = 0
    for i in res:
        if max<int(i[0]):
            max=int(i[0])
    return max
    

@dbconnect
def insert_singer(val,cur):
    cur.execute('insert into Singer values(?,?,?,?,?)',val)

@dbconnect
def modify_singer(cur):
    ser = input('Enter Singer id to modify :')
    ans = int(input('Enter albums to modify : '))
    cur.execute('update Singer set noa=? where id=?',(ans,ser))

@dbconnect
def display(cur):
    res = cur.execute('select * from Singer').fetchall()
    print('ID'.center(20),'Name'.center(20),'Address'.center(20),'Date of Birth'.center(20),'Number of albums'.center(20))
    print('*'*108)
    for i in res:
        for j in i:
            print(str(j).center(20),end=' ')
        print()

@dbconnect
def delete_singer(cur):
    ser = input('Enter singer Id to delete :')
    cur.execute('delete from Singer where id=?',ser)

def operations():
    n=input('Enter Option:\t1.Insert \t2.Modify\t3.Delete\t4.Display')
    match n:
        case '1':
            val=(singer_count()+1,input('Enter name :'),input('Enter address : '),input('Enter Date of birth :'),int(input('Enter Number of albums :')))
            insert_singer(val)
        case '2':
            modify_singer()
        case '3':
            delete_singer()
        case '4':
            display()

        
operations()

         ID                  Name               Address           Date of Birth       Number of albums
************************************************************************************************************
         2                  Seetha                Tdp               16-05-2001               9
         3                  Bheem              Kacheguda            20-02-2003               9
         4                  naveen                hyd               08-09-1999               18

In [45]:
@dbconnect
def create_tab(cur):
    cur.execute('create table Singer (id varchar(20) primary key,name varchar(30),address varchar(30),dob date,noa int)')
# create_tab()

*** Parsing technique ***
 => Parsing is a phenominon of converting any data format to another data format.
 => Parsing is the phenominon of converting any data format to string format/ any other format.
* Parser :
 => It is a transator which will parse our data into specified format.
 => There are any parsers available in the market.
    1. Lexical parsor
    2. yacc parsor
    3. xml parsor
    4. JSON parsor 
    5. Pickle parsor

* JSON parsing technique :
 => JSON is stands for JavaScript object notation. It's annotation where the data will be in the form of javascript object will be completly similar to the string type.
 => Coversion posible without data loss.
 => Python to JSON - Serialization. We can use dump or dumps methods to convert.
 => JSON to Python - Deseralization. We can use load or loads methods to convert.

*** JSON ***
1. Import :
    import json
2. Dumping :
    => json.dumps(<data>)
    => json.dump(<data>,<file pointer>)
3. Loading :
    => json.loads(<data>)
    => json.load(<data>,<file pointer>)

In [14]:
# Dumps

import json

# JSON will not accept complex, bytes, set.
# Dict will not accept mutable datatypes as keys. 

d={10:20.4,'True':False,'''Hello Prapancham''':(10,30),11:[10,203,4],None:110,None:2} 
print(d,type(d))

res = json.dumps(d)
print(res,type(res))

{10: 20.4, 'True': False, 'Hello Prapancham': (10, 30), 11: [10, 203, 4], None: 2} <class 'dict'>
{"10": 20.4, "True": false, "Hello Prapancham": [10, 30], "11": [10, 203, 4], "null": 2} <class 'str'>

In [9]:
#Dumps
import json 
data = (10,2,3)
res = json.dumps(data)
print(res)

[10, 2, 3]

In [17]:
# Dump
import json
fp = open('test.json','w')

d={10:20.4,'True':False,'''Hello Prapancham''':(10,30),11:[10,203,4],None:110,None:2} 
res = json.dump(d,fp)
print(res)

fp.close()

None

In [37]:
# Loads

import json

# JSON will not accept complex, bytes, set.
# Dict will not accept mutable datatypes as keys. 

d={10:20.4,'True':False,'''Hello Prapancham''':(10,30),11:[10,203,4],None:110,None:2} 
print(d.keys())
print(d,type(d))

res = json.dumps(d)
print(res,type(res))

res = json.loads(res)
print(res,type(res))

dict_keys([10, 'True', 'Hello Prapancham', 11, None])
{10: 20.4, 'True': False, 'Hello Prapancham': (10, 30), 11: [10, 203, 4], None: 2} <class 'dict'>
{"10": 20.4, "True": false, "Hello Prapancham": [10, 30], "11": [10, 203, 4], "null": 2} <class 'str'>
{'10': 20.4, 'True': False, 'Hello Prapancham': [10, 30], '11': [10, 203, 4], 'null': 2} <class 'dict'>

In [39]:
# Load
import json
fp = open('test.json','w+')

d={10:20.4,'True':False,'''Hello Prapancham''':(10,30),11:[10,203,4],None:110,None:2} 
res = json.dump(d,fp)
print(res)

fp.seek(0)
res = json.load(fp)
print(res,type(res))


fp.close()

None
{'10': 20.4, 'True': False, 'Hello Prapancham': [10, 30], '11': [10, 203, 4], 'null': 2} <class 'dict'>

In [40]:
# Picklng dumps and loads
import pickle
fp = open('test.pickle','wb+')

d={10:20.4,'True':False,'''Hello Prapancham''':(10,30),11:[10,203,4],None:110,None:2} 
res = pickle.dumps(d) # PIckle
fp.write(res)
print(res)

fp.seek(0)
data = fp.read()
res = pickle.loads(data) # Unpickle
print(res,type(res))


fp.close()

b'\x80\x04\x95@\x00\x00\x00\x00\x00\x00\x00}\x94(K\nG@4ffffff\x8c\x04True\x94\x89\x8c\x10Hello Prapancham\x94K\nK\x1e\x86\x94K\x0b]\x94(K\nK\xcbK\x04eNK\x02u.'
{10: 20.4, 'True': False, 'Hello Prapancham': (10, 30), 11: [10, 203, 4], None: 2} <class 'dict'>

In [43]:
# Picking  Load and Dump
import pickle
fp = open('test.pkl','wb+')

d={10:20.4,'True':False,'''Hello Prapancham''':(10,30),11:[10,203,4],None:110,None:2} 
res = pickle.dump(d,fp) # pickle
print(res)

fp.seek(0)
res = pickle.load(fp) # UnPickle
print(res,type(res))


fp.close()

None
{10: 20.4, 'True': False, 'Hello Prapancham': (10, 30), 11: [10, 203, 4], None: 2} <class 'dict'>

*** Package ***
 => It is a set of program designed to do a specific task.
 => It is a folder containing set of programs.
 => If we want to call folder as a package, then that folder must have a __init__.py file in it.
 => A package is a way to organise related modules and sub packages together. It provides a hierarchical structure for organizing and managing code in larger projects.
 => Packages help avoid naming conflicts and provide a structured approach to organizing Python code.

* Sub packages : Packages can have sub packages which are simply nested packages within a package. Sub-packages have their own __init__.py file and can contain modules and sub-packages, forming a hierarchical structure.
* Importing Packages : To use code from a package, you need to import it into your Python script or module. You can use import statement to import a package, a module with in the package, or specific objects from a module.

Note :
 -> Packages create their own namespace, meaning that the objects (variables, functions, classes) defined within a package are accessed using the package name as prefix.
 -> For example, if there is a function myfunction inside mymodule in mypackage, you would access it as mypackage.mymodule.myfunction().

* from - It is a keyword used to provide path.
* import - It is keyword used to import specific modules into the file.

*** Regular Expression ***


* finditer :- It is used to create matcher object.

In [3]:
import re
data = 'Hi my mail id is naveen.jinka1@gmail.com and naveenjinka@gmail.com and tharun@gmail.com and devi@gmail.com'

res = re.findall('[A-Za-z0-9.]*+@gmail.com',data)

print(res)

['naveen.jinka1@gmail.com', 'naveenjinka@gmail.com', 'tharun@gmail.com', 'devi@gmail.com']

In [4]:
import re
data = 'Hi my mail id is naveen.jinka1@gmail.com and naveenjinka@gmail.com and tharun@gmail.com and devi@gmail.com'

res = re.finditer('[A-Za-z0-9.]*+@gmail.com',data)

print(res)

<callable_iterator object at 0x000001BF27C2F640>

In [5]:
import re
data = 'Hi my mail id is naveen.jinka1@gmail.com and naveenjinka@gmail.com and tharun@gmail.com and devi@gmail.com'

res = re.finditer('[A-Za-z0-9.]*+@gmail.com',data)
for i in res:
    print(i)

<re.Match object; span=(17, 40), match='naveen.jinka1@gmail.com'>
<re.Match object; span=(45, 66), match='naveenjinka@gmail.com'>
<re.Match object; span=(71, 87), match='tharun@gmail.com'>
<re.Match object; span=(92, 106), match='devi@gmail.com'>

In [7]:
import re
data = 'Hi my mail id is naveen.jinka1@gmail.com and naveenjinka@gmail.com and tharun@gmail.com and devi@gmail.com'

res = re.finditer('[A-Za-z0-9.]*+@gmail.com',data)
for i in res:
    print(i.span(),i.span()[0],i.start(),i.span()[1],i.end(),i.group(),type(i))

(17, 40) 17 17 40 40 naveen.jinka1@gmail.com <class 're.Match'>
(45, 66) 45 45 66 66 naveenjinka@gmail.com <class 're.Match'>
(71, 87) 71 71 87 87 tharun@gmail.com <class 're.Match'>
(92, 106) 92 92 106 106 devi@gmail.com <class 're.Match'>

*** match ***
It returns None if the specified pattern not found in the begining of the string. Otherwise, it will return the string that matches matches the pattern in the begining of the main string.

In [19]:
import re
data = 'naveen.jinka1@gmail.com Hi my mail id is naveen.jinka1@gmail.com and naveenjinka@gmail.com and tharun@gmail.com and devi@gmail.com'

res = re.match(r'[A-Za-z0-9.]*+@gmail.com',data)

print(res.group(),res.start(),res.end())

naveen.jinka1@gmail.com 0 23

*** fullmatch ***
Fullmatch returns None type when the complete string is not matched, Otherwise it will return the whole string.

In [26]:
import re
data = 'naveen.jinka1@gmail.com'

res = re.fullmatch(r'[A-Za-z0-9.]*+@gmail.com',data)
if res:
    print('Matched fully')
    print(res.group(),res.start(),res.end())
else:
    print('Not matched fully',type(res))

Matched fully
naveen.jinka1@gmail.com 0 23

*** Search ***
It will match the first occurence pattern in the string.

In [2]:
import re
data = 'Hi my mail id is naveen.jinka1@gmail.com and naveenjinka@gmail.com and tharun@gmail.com and devi@gmail.com'

res = re.search(r'[A-Za-z0-9.]*+@gmail.com',data)

print(res.group(),res.start(),res.end())

naveen.jinka1@gmail.com 17 40

*** Sub ***
It will replace the substring with new string.

In [9]:
import re

data = "Hai Krishna, Good Morning Krishna.."
res = re.sub('Krishna','Naveen',data,count=1)
print(res)

Hai Naveen, Good Morning Krishna..

*** Inheritence ***
 -> It is a phenominon of deriving or aquiring the properties from one class to another class.
 -> Deriving the states and behaviours from parent class to child class.
 -> It is classified into 5 types :
    1. Single level inheritence 
    2. Multi level inheritence
    3. Hierachial inheritence
    4. Multiple inheritence
    5. Hybrid inheritence

*** Single level Inheritence ***
Deriving the properties from one parent class to one child class.

Syntax :
    class A: # Parent class
        properties / behaviours
    class B(A): # Child class
        properties / behaviours

In [4]:
class A:
    x=10
class B(A):
    y=20
    @classmethod
    def add(cls):
        print(cls.x)
        return cls.x+cls.y
obj = B()
print(obj.add())

10
30

In [9]:
class Mobile:
    brand = 'Vivo'
    loc = 'Hyd'
    def __init__(self,name,version,color):
        self.name = name
        self.version = version
        self.color = color
    
    def display(self):
        print(self.name,self.version,self.color)

class Update(Mobile):
    
    def __init__(self,name,ver,color):
        self.name = name
        self.color = color
        self.version = ver

obj = Update('Naveen','Y31','Gray')
obj.display()

obj2 = Update('Tharun','V20','Silver')
obj2.display()

Naveen Y31 Gray
Tharun V20 Silver

*** Super Keyword ***
It is used to call super class properties.

In [10]:
class Bank:
    name = 'SBI'
    ifsc = 'SBI000'
    address = 'HYD'
    cust_count = 0
    cust_details = {}
    def __init__(self,name,age,bal=500):
        self.c_name=name
        self.c_age=age
        self.c_bal=bal
        Bank.cust_count+=1
        self.c_accno = 101020+self.cust_count
        Bank.cust_details[self.c_accno]=self
    
    def deposit(self):
        amo = int(input('Enter amount :'))
        self.c_bal+=amo
        print("Current balance is :",self.c_bal)

seetha=Bank('Seetha Mahalakshmi',22)

class Bank_update_1(Bank):
    def __init__(self,name,age,mail,phone):
        self.c_mail = mail
        self.c_phone = phone
        super().__init__(name,age)

    def withdraw(self):
        amo = int(input("Enter Amount :"))
        if self.c_bal>=amo:
            self.c_bal-=amo
            print("Current balance is :",self.c_bal)
        else:
            print('Insufficient balance')

ram = Bank_update_1('Ram',23,'ram@gmail.com',7997210130)

In [7]:
Bank.cust_details

{101021: <__main__.Bank at 0x23688a1f450>,
 101022: <__main__.Bank_update_1 at 0x23688e21310>}

In [8]:
print(ram.__dict__)
print(seetha.__dict__)

{'c_mail': 'ram@gmail.com', 'c_phone': 7997210130, 'c_name': 'Ram', 'c_age': 23, 'c_bal': 500, 'c_accno': 101022}
{'c_name': 'Seetha Mahalakshmi', 'c_age': 22, 'c_bal': 500, 'c_accno': 101021}

In [11]:
ram.withdraw()

Current balance is : 460

In [12]:
seetha.deposit()

Current balance is : 2500

*** Multi Level Inheritence ***
It is a phenominon of inheriting one parent class to child class and child class to sub-child class.

Syntax :
    class A:
        // Behaviours and properties of class-A
    class B(A):
        // Behaviours and properties of class-A and class-B
    class C(B):
        // Behaviours and properties of class-A and class-B and class-C

In [1]:
class A:
    a=10
    def __init__(self):
        print("Parent here")
    
    def display(self):
        print('Parent : ',self.a)

class B(A):
    b=20
    def display(self):
        print("Child : ",self.b)

class C(B):
    c=30
    def display(self):
        print("Grand Child : ",self.c)

In [3]:
a=A()
b=B()
c=C()

Parent here
Parent here
Parent here

In [4]:
a.display()
b.display()
c.display()

Parent :  10
Child :  20
Grand Child :  30

In [10]:
# Method chaining 
class A:
    a=10
    def __init__(self):
        print("Parent here")
    
    def display(self):
        print('Parent : ',self.a)

class B(A):
    b=20
    def display(self):
        super().display()
        print("Child : ",self.b)

class C(B):
    c=30
    def display(self):
        super().display()
        print("Grand Child : ",self.c)

In [11]:
a = A()
b = B()
c = C()
c.display()

Parent here
Parent here
Parent here
Parent :  10
Child :  20
Grand Child :  30

In [ ]:
class Bank:
    name = 'SBI'
    ifsc = 'SBI000'
    address = 'HYD'
    cust_count = 0
    cust_details = {}
    def __init__(self,name,age,bal=500):
        self.c_name=name
        self.c_age=age
        self.c_bal=bal
        Bank.cust_count+=1
        self.c_accno = 101020+self.cust_count
        Bank.cust_details[self.c_accno]=self
    
    def deposit(self):
        amo = int(input('Enter amount :'))
        self.c_bal+=amo
        print("Current balance is :",self.c_bal)

seetha=Bank('Seetha Mahalakshmi',22)

class Bank_update_1(Bank):
    def __init__(self,name,age,mail,phone):
        super().__init__(name,age)
        self.c_mail = mail
        self.c_phone = phone
        

    def withdraw(self):
        amo = int(input("Enter Amount :"))
        if self.c_bal>=amo:
            self.c_bal-=amo
            print("Current balance is :",self.c_bal)
        else:
            print('Insufficient balance')

ram = Bank_update_1('Ram',23,'ram@gmail.com',7997210130)

class Bank_update_2(Bank_update_1):
    def __init__(self,name,age,mail,phone,pan,adhar,password):
        super().__init__(name,age,mail,phone)
        self.c_pan = pan
        self.c_adhar = adhar
        self.c_pass = password
    
    @staticmethod
    def Operations():
        print("WELCOME TO NAVEEN BANK")
        print("----------------------")
        n = int(input("Enter Option 1. Register 2.Login"))
        match n:
            case 1:
                name = input("Enter name :")
                age = int(input("Enter age :"))
                mail = input("Enter Mail :")
                phone = int(input("Enter Phone :"))
                pan = input("Enter Pan card :")
                adhar = input("Enter adhar :")
                password = input("Enter password :")
                Bank_update_2(name,age,mail,phone,pan,adhar,password)
            case 2:

*** Hiarchial Inheritence ***
-> Deriving a parent class to mutiple sub classess.
Syntax :
    class A:
        // Properties of A
    class B(A):
        // Properties of A and B
    class C(A):
        // properties of A and C

In [14]:
class A:
    a=10
    def __init__(self,a):
        A.a=a
    @classmethod
    def display(cls):
        return (cls.a)

class B(A):
    b=20
class C(A):
    c=30

In [8]:
print(A.a,A.display())
print(B.a,B.b,B.display())
print(C.a,C.c,C.display())

10 10
10 20 10
10 30 10

In [15]:
a=A(100)
b=B(200)
c=C(300)
print(A.a,A.display())
print(B.a,B.b,B.display())
print(C.a,C.c,C.display())

300 300
300 20 300
300 30 300

*** Multiple Inheritence ***
It is a phenominon of deriving the properties from 2 parent class to 1 child class.
Syntax :
    class A:
        pass
    class B:
        pass
    class C(A,B):
        pass

Disadvantages :
    -> In multiple inheritence sometimes the reference addresses are overide because of deriving properties from 2 parent class to 1 child class.
    -> If properties with same name are present in both the parent class, All the properties derived to child class that time the old reference address is overided to new reference address because python will not support duplicate identifiers.
    -> The overide concept will happen for variable, constructor and method (@classmethod, @staticmethod). 

Note :
    -> To overcome above problems, we should create same properties in child class and we have to apply chaining concept either constructor chaining or method chaining.

In [3]:
class A:
    x=10

class B:
    x='A'
    y=20

class C(B,A):
    z=30

obj = C()
print(obj.__dict__)
print(obj.x,obj.y,obj.z)

{}
A 20 30

In [5]:
class Customer :
    def __init__(self,name,age,mobileno,mail):
        self.name = name
        self.age = age
        self.mobileno = mobileno
        self.mail = mail
    def display(self):
        print(self.name,self.age,self.mobileno,self.mail)

class Product :
    def __init__(self,id,name,price):
        self.id = id
        self.p_name = name
        self.p_price = price
    def display(self):
        print(self.id,self.p_name,self.p_price)

class Buy(Customer,Product):
    def __init__(self,name,age,mob,mail,id,pn,pri):
        Customer.__init__(self,name,age,mob,mail)
        Product.__init__(self,id,pn,pri)

    def display(self):
        Customer.display(self)
        Product.display(self)

obj = Buy('Naveen',23,7997210130,'naveen.jinka1@gmail.com',1,'Sweet corn',240)

In [6]:
obj.__dict__

{'name': 'Naveen',
 'age': 23,
 'mobileno': 7997210130,
 'mail': 'naveen.jinka1@gmail.com',
 'id': 1,
 'p_name': 'Sweet corn',
 'p_price': 240}

*** Hybrid Inheritence ***
Combine the more than one inheritence types
Syntax :
    class A:
        pass
    class B(A):
        pass
    class C(B,A):
        pass
    class D(B):
        pass
    class E(A):
        pass

*** Constructor chaining ***
1. Calling by using super statement :
    super().__init__(<args>)
2. Calling by using super containing arguments :
    super(<class name>,self).__init__(<args>)
3. Calling by using parent class name :
    <Parent class name>.__init__(self,<args>)

user (one to many)
    user_game (one to many)
    high_score
    low_score
    cur_score
    last_played
    started

game :
    game_name
    game_id
    total_high_score
    total_least_score
    last_played
    frequency

*** Encapsulation ***
 -> It is a phenominon of hiding the data inside the object or class.
 -> Wraping the data inside the object or class by the help of access specifiers or access modifiers.
 -> By the help of access specifiers, we can provide the security to the both states and behaviours.
 -> To restrict the data from one space to other space.
 -> Access Specifiers are 3 types :
    1. Public
    2. Protected
    3. Private

*** Public access specifier ***
 -> We represent as direct specify the identifier name.

In [1]:
class A:
    a=10

    def modify(self,a):
        self.a=a
    
    def display(self):
        print(A.a,self.a)
    
class B(A):
    pass

pub_a = A()
pub_b = B()

print(pub_a.a,pub_b.a) 
pub_a.modify('A')
pub_b.modify('B')
print(pub_a.a,pub_b.a)
pub_a.display()
pub_b.display()

10 10
A B
10 A
10 B

In [4]:
class A:
    _a=10

    def _modify(self,a):
        self._a=a
    
    def _display(self):
        print(A._a,self._a)
    
class B(A):
    pass

pro_a = A()
pro_b = B()

print(pro_a._a,pro_b._a) 
pro_a._modify('A')
pro_b._modify('B')
print(pro_a._a,pro_b._a)
pro_a._display()
pro_b._display()

10 10
A B
10 A
10 B

In [5]:
class A:
    __a=10

    def __modify(self,a):
        self.__a=a
    
    def __display(self):
        print(A.__a,self.__a)
    
class B(A):
    pass

pri_a = A()
pri_b = B()

print(pri_a._a,pri_b._a) 
pri_a._modify('A')
pri_b._modify('B')
print(pri_a._a,pri_b._a)
pri_a._display()
pri_b._display()

AttributeError: 'A' object has no attribute '_a'

In [9]:
A.__dict__

mappingproxy({'__module__': '__main__',
              '_A__a': 10,
              '_A__modify': <function __main__.A.__modify(self, a)>,
              '_A__display': <function __main__.A.__display(self)>,
              '__dict__': <attribute '__dict__' of 'A' objects>,
              '__weakref__': <attribute '__weakref__' of 'A' objects>,
              '__doc__': None})

1. What is oops ?
2. Priciples of oops ?
3. What is class ?
4. How to define class ?
5. What are the class properties ?
6. What is object or instance ?
7. What type of data we can store inside the class ?
8. What type of data we can store inside the object ?
9. WHat is constructor ?
10. How to define constructor and why we need ?
11. Without constructor, can we create the object or not ?
12. What is parameterised constructor ?
13. Un-parameterised constructor ?
14. How to manupulate the data inside the class outside the class ?
15. How to manupulate the object inside the class outside the class ?
16. What is self and what type of thing it will store ?
17. What is cls and what it will store ?
18. What is dfference betweeen class states and object states and how to define ?
19. Difference between class method and object method and static method ?
20. What is inheritence ?
21. Types of inheritence ?
22. Difference between single level inheritence and multi level inheritence ?
23. Difference between hierchial inheritence and multiple inheritence ?
24. Advantages and disadvantages for the inheritence ?
25. Limitations for multiple inheritence with example ?
26. What is constructor chaining and method chaining ?
27. How to define constructor chaining ? explain with 3 different syntax ?
28. WHat is super() ?
29. What is polymorphism ?
30. What is method overriding ?
31. What is method overloading ?
32. What is operator overloading ?
33. What is magic methods ? Explain with examples ?
34. What is encapsulation ?
35. What is meant by access specifiers ?
36. Difference between between public, protect and private ?
37. What is abstraction and what is abstract mmethod and syntax ?
38. What is the difference between abstraction and encapsulation ?
39. What is exception handling ?
40. Types of the errors or exception ?
41. How to handle exceptions ?
42. What is try , except ,finally blocks ?
43. Difference between default except block, generic except block , specific except block ?
44. What is monkey patching ?
45. What is name attribute ?
46. Difference between set attribute, get attribute, delete attribute, has attribute ?
47. Difference between setter and getter method ?
48.