Contents :
	1. Data structures: Series, DataFrame, Index
	2. Reading and Writing data: read_csv, read_excel, read_sql,to_csv, to_excel, tosql
	3. Data selection and Filtering: loc, iloc, at, iat, boolean indexing, query
	4. Data manupulation: drop, dropna, fillna, replace, rename, sort_values, sort_index
	5. Grouping and aggregation: groupby, mean, sum, count, min, max, agg
	6. Merging and joining data: merge, join, concat
	7. Reshaping and pivoting data: stack, unstack, melt, pivot_table
	8. Handling missing data: isna, notna, interpolate, ffill, bfill
	9. Appling functions to data: apply, applymap, map
	10. Visualizing data: plot, hist, scatter, boxplot, heatmap
	11. Time series data: data_range, resample, rolling, shift, diff
	12. Categorical data: Categorical, cut, qcut
	13. Text data: str, contains, extract, replace, split
	14. MultiIndexing: creating, selecting, slicing, indexing, setting levels	
	15. Input and output functions: reading and writing data from/to files, databases, and web services
	16. Performance optimization: vectorization, broadcasting, Cython, Numba, Dask
	
***Data structures***
Series: 	
	-> A series is a one-dimentional labeled array that can hold any data, such as integers, strings, floats, or even Python objects.
	-> A series consists of two main parts: The data and the index.
	-> A data is one-dimentional array of values, and the index is the set of labels.
	-> The index can be a list of integers, strings, or any other datatype.
	-> You can create a Series by passing a list, tuple, or dictionary of values to the Series constructor.
	-> Example:
		import pandas as pd
		data = [1,2,3,4,6]
		s = pd.Series(data)
	-> By default, the index values are [0,1,2,3,4]. We can access the values and index using index of a Series using the 'values' and 'index' attributes.
	-> It is also possible to perform operations such as indexing, slicing, filtering, sorting, and aggregating.

In [8]:
#Series

#Basic
import pandas as ps
dic={'Name':'Naveen','Age':23,'Skills':['Python','Java','SQL','Html','CSS'],'Language':['Telugu','English']}
s=ps.Series(dic)
print(s)

Name                                Naveen
Age                                     23
Skills      [Python, Java, SQL, Html, CSS]
Language                 [Telugu, English]
dtype: object
1
2    3
3    4
dtype: int64

In [20]:
#Accesing values in series 
l=[1,2,2,4,5,6]
t=ps.Series(l)
print(t[0]) #get 0th index element
print(t[2:4])   #get elements form 2nd index to 3rd index

1
2    2
3    4
dtype: int64

In [9]:
#Filtering values in a Series 
import pandas as ps
l=[1,2,4,4,5,6]
t=ps.Series(l)
print(t[t%2==0])

1    2
2    4
3    4
5    6
dtype: int64

In [13]:
# Sorting values in the series
import pandas as ps
l=[10,9,20,63,20,27,90]
t=ps.Series(l)
print(t.sort_values())
print(t)

1     9
0    10
2    20
4    20
5    27
3    63
6    90
dtype: int64
0    10
1     9
2    20
3    63
4    20
5    27
6    90
dtype: int64

In [16]:
# Change the index of series 
import pandas as ps 
data = [10,20,30,40,50]
index = ['a','b','c','d','e']
x=ps.Series(data,index=index)
print(x)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [4]:
# Arithmetic operations
import pandas as ps
s1=ps.Series([1,2,3,4,5])
s2=ps.Series([10,20,30,40])
s3=s1+s2
print(s3)

0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64

In [6]:
# Series of dates
import pandas as ps
s=ps.Series(['2023-08-9','2022-09-3','2001-08-21'],dtype='datetime64[ns]')
print(s)

0   2023-08-09
1   2022-09-03
2   2001-08-21
dtype: datetime64[ns]

In [7]:
# Series with custom name
import pandas as ps
s=ps.Series([1,2,3,4,6],name='Naveen')
print(s)

0    1
1    2
2    3
3    4
4    6
Name: Naveen, dtype: int64

DataFrame:
	-> A dataframe in pandas is a two-dimentional, size-mutable, tabular data structure with labeled axis(rows and columns).
	-> It is similar to a spreadsheet in Excel or a SQL table, but with more powerful indexing and data manupulation capabilities.
	-> DataFrames can be created from a variety of sources, including CSV files, Excel files, SQL databases and python dictionaries.
	-> Once you have a dataframe, you can use variety of methods to manupulate and analyze the data, such as filtering, sorting, grouping, and aggregating.
	-> Overall, dataframes are a key data structure in pandas and are widely used in data analysis and data science workflows.
	-> Example:
		import pandas as pd
		data = {'Name':['Naveen','Ram','Krisha','Tharun'],'Age':[23,21,22,19],'Score':[8,10,7,10]}
		df = pd.DataFrame(data)
		print(df)

In [15]:
# DataFrame basic example
import pandas as pd
data = {'Name':['Naveen','Ram','Krisha','Tharun'],'Age':[23,21,22,19],'Score':[8,10,7,10]}
df = pd.DataFrame(data)
df=df.groupby('Name')['Age'].mean()
print(df)

Name
Krisha    22.0
Naveen    23.0
Ram       21.0
Tharun    19.0
Name: Age, dtype: float64