In [4]:
s='pyspiders'
print('Q'+s[2:])

Qspiders

In [5]:
s='Qspiders'
print(s[:4]+s[4+1:])

Qspiers

In [6]:
s='Qspiders'
r=s[:2]+s[-2:]
print(r)

Qsrs

In [7]:
l=[12,34,65]
l=[10]+l
print(l)

t=[100]
t+=l
print(t)

l[0:0]=[200]
print(l)

[10, 12, 34, 65]
[100, 10, 12, 34, 65]
[200, 10, 12, 34, 65]

In [8]:
l=[12,34,65]
l+=[10]
print(l)

l[9:9]=[200]
print(l)

[12, 34, 65, 10]
[12, 34, 65, 10, 200]

In [9]:
l=[10,20,304,40,50]
print(id(l))
l[len(l)//2:len(l)//2]=['Naveen']
print(id(l))
print(l)

2383449327936
2383449327936
[10, 20, 'Naveen', 304, 40, 50]

In [10]:
l=[10,20,304,40,50]
l[len(l)//2]='abcd'
print(l)

[10, 20, 'abcd', 40, 50]

In [11]:
l=[10,20,304,40,50]
l[1:1]=['naveen']
print(l)

[10, 'naveen', 20, 304, 40, 50]

In [12]:
l=[10,20,30,40,50]
del l[1:3]
print(l)

[10, 40, 50]

In [13]:
l=[10,20,30,40,50]
del l[len(l)//2]
print(l)

[10, 20, 40, 50]

In [15]:
l=[10,20,30,40,50]
del l[0]
print(l)

l=[10,20,30,40,50]
del l[-len(l)]
print(l)

[20, 30, 40, 50]
[20, 30, 40, 50]

In [17]:
l=[10,20,30,40,50]
del l[1:3]
print(l)

l=[10,20,30,40,50]
del l[2:0:-1]
print(l)

[10, 40, 50]
[10, 40, 50]

In [23]:
tu=(1,2,4,6,8,9)
print(id(tu))
tu=('a',)+tu
print(tu,id(tu))

tu=(1,2,4,6,8,9)
print(id(tu))
tu=tuple('a')+tu
print(tu,id(tu))

2383421606304
('a', 1, 2, 4, 6, 8, 9) 2383449071744
('a', 1, 2, 4, 6, 8, 9) 2383449071744

In [24]:
t=(1,2,4,6,8,9)
t=t[:len(t)//2]+('a','b')+t[len(t)//2:]
print(t)

(1, 2, 4, 'a', 'b', 6, 8, 9)

In [27]:
t=(1,2,4,6,8,9)
t=t[:2]+('a','b')+t[2:]
print(t)

(1, 2, 'a', 'b', 4, 6, 8, 9)

In [32]:
t=(1,2,4,6,8,9)
print(id(t))
t+=('Hi','Hello')
print(id(t))

2383421606304
2383403269728

In [42]:
t=(1,2,4,6,8,9)
t=('Naveen',)+t[:-1]+(t[-1],)
print(t)

t=(1,2,4,6,8,9)
t+='naveen','ram'
print(t)

('Naveen', 1, 2, 4, 6, 8, 9)
(1, 2, 4, 6, 8, 9, 'naveen', 'ram')

In [48]:
# set operations
#Union
s={10,20,30,40,50}
print(id(s))
s=s|{60,70}
print(s,id(s))

s={10,20,30,40,50}
s|={'naveen'}
print(s)

#Deletion
s={10,20,30,40,50}
s-={20,30}
print(s)

2383454984608
{50, 20, 70, 40, 10, 60, 30} 2383454982368
{'naveen', 50, 20, 40, 10, 30}
{50, 40, 10}

In [57]:
#Dictionary operations
#Modification
d={1:10,2:20,3:30}
d[2]=40
print(d,id(d))
d|={'name':'Naveen','language':'Telugu'}
print(d,id(d))
#Delete multiple values from dictionary
del [d['language'],d['name']]
print(d)

{1: 10, 2: 40, 3: 30} 2383455265920
{1: 10, 2: 40, 3: 30, 'name': 'Naveen', 'language': 'Telugu'} 2383455265920
{1: 10, 2: 40, 3: 30}

In [3]:
#extract the last second digit from a given number 
n=212738
n=(n//10)%10
print(n)

3

In [4]:
# Last digit is divisible by 3 or not
n=123235
print((n%10)%3==0)

False

In [7]:
# Last digit is divisible by 3 or not without type casting
n=2736472645
print(int(str(n)[-1])%3==0)

False

In [41]:
m=10
n=m
i=0
while(n>0):
    for j in range(n//2):
        print(" ",end='')
    for j in range(i+1):
        print('* ',end='')
    print()
    n=n-2
    i+=1

     * 1
    * * * 3
   * * * * * 5
  * * * * * * * 7
 * * * * * * * * * 9